root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 100
tab_width = 4

[*.dart]
max_line_length = 120

[*.yaml]
indent_size = 2